extends layout
head
    script(type='text/javascript', src="/op.js")
    link(rel="shortcut icon" type="image/jpg" href="./cemp.jpg")
body
block content
    div.inf
        a(href="/vista") Participantes
    div.dropdown
        button.dropbtn
            a(href="#") Ayuda
        div.dropdown-content
            a(href="/manual") Descargar manual
    div.dropdown
        button.dropbtn
            a(href="#") Ligas de interés
        div.dropdown-content
            a(href="http://grupos.iingen.unam.mx/iling/es-mx/Paginas/default.aspx") Grupo de Ingeniería Lingüistica
            a(href="http://www.iling.unam.mx/corpus/") Corpus UNAM
    div.dropdown
        button.dropbtn Próximos trabajos
        div.dropdown-content
            a(href="#") Parentéticos de Lengua Tecleada en el Español de México
            a(href="#") Alternancia de Código en Conversaciones de Mensajería Instantánea en Estudiantes Universitarios Bilingües de la Ciudad de México
            a(href="#") Rasgos de Oralidad en un Corpus de Mensajería Instantánea
    br
    br
    br
    br
    h1= title
    #employees
        //- each employee in employees
          div.employee
            div.created_at= employee.created_at
            div.title= employee.title 
            div.name= employee.name
                form( method="post", action="/employee/:id/delete") 
                    input(name="_id", type="hidden", value=employee._id.toHexString()) 
                    input(id="delete", value="X", type="submit")
                form( method="get", action="/employee/:id/edit") 
                    input(name="_id", type="hidden", value=employee._id.toHexString()) 
                    input(id="edit", value="Edit", type="submit")
            a(href="/employee/new")!= "Add New Employee"
        
    h3 Bienvenido a Cempasúchil 
        p Cempasúchil: Corpus sociolingüístico de español mensajeado para el análisis del habla universitaria es un corpus conformado por una colección de conversaciones de la la aplicación WhatsApp de estudiantes de licenciatura de  Ciudad Universitaria de la Universidad Nacional Autónoma de México. Este corpus ha sido creado con el propósito de brindar una muestra representativa del uso de lengua tecleada entre estudiantes universitarios con el fin de servir de base para diversas investigaciones en el campo de la lingüística. 

        |El corpus está conformado por 818 conversaciones de 1123 hablantes universitarios (547 hombres y 575 mujeres) y contiene un aproximado de 1,683,935 palabras.

        |Las variables que se tomaron en cuenta para la elaboración del corpus, y mediante las cuales podrás realizar tu búsqueda, son las siguientes:
    br 
    br
    li Sexo
    li Facultad
    li Edad
    li Orientación sexual
    li Lugar de nacimiento
    li Lugar de residencia
    li Nivel educativo
    li Licenciatura
    li Ocupación
    li Profesión u oficio
    li Relación entre participantes


    
    br
    br
    br
    div.newemployee 
            h4 Para dudas o comentarios escribe a gil@iingen.unam.mx


    br
    p: a(href="/manual")!= "Manual para usar la página de consulta"
    br
    h3 Elige los parámetros de la búsqueda
    br
    p: a(href="/")!= "Limpiar"
    br
    form(method="get", action="/n")
        div(style="display: block")
            p
                div(style="display: inline") Edad
                    select(name='age', id='a')
                        each item in ['selecciona', "14", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "34", "35", "36", "37", "38", "40", "42", "43", "44", "46", "49", "50", "51", "52", "53", "54", "55", "56", "57", "60", "None"]
                            option= item
                div(style="display: inline")   Género 
                    select(name='gender', id='b')
                        each item in ['selecciona', "M", "H"]
                            option= item
                div(style="display: inline")   O. Sexual 
                    select(name='osexual', id='c')
                        each item in ['selecciona', "Heterosexual", "Homosexual", "Bisexual"]
                            option= item
                div(style="display: inline")   L. Nacimiento 
                    select(name='bPlace', id='d')
                        each item in ['selecciona',"Aguascalientes", "Chihuahua", "Chile", "Ciudad de México", "Coahuila", "Colombia", "Costa rica", "Durango", "Estado de México", "Estados unidos", "Guanajuato", "Guerrero", "Hidalgo", "Italia", "Jalisco", "Líbano", "Michoacán", "Oaxaca", "Puebla", "Querétaro", "Quintana Roo", "Sinaloa", "Tabasco", "Veracruz", "Yucatán"]
                            option= item
                div(style="display: inline")   Nivel educativo    
                    select(name='edu', id='e')
                        each item in ['selecciona', "Secundaria", "Bachillerato", "Carrera Técnica", "Licenciatura", "Maestría", "Doctorado", "Especialidad"]
                            option= item
        div(style="display: block")
            p
                div(style="display: inline")   Ocupación 
                    select(name='ocup', id='f')
                        each item in ['selecciona', "Estudia", "Trabaja", "Estudia / Trabaja", "Desempleado / Jubilado"]
                            option= item
                div(style="display: inline")   Otras lenguas 
                    select(name='lang', id='g')
                        each item in ['selecciona', "Alemán", "Búlgaro", "Chino", "Coreano", "Francés", "Griego moderno", "Ingles", "Inglés", "Italiano", "Japonés", "Náhuatl", "Portugués", "Ruso", "Sueco", "Árabe"]
                            option= item
                div(style="display: inline")   Relación  
                    select(name='rel', id='h')
                        each item in ["selecciona","Familiar", "Amistad", "Amorosa", "Laboral", "Académica", "Conocidos", "Profesional"]
                            option= item
        div(style="display: block")
            p
                div(style="display: inline")   Carrera 
                    select(name='major', id='i')
                        each item in ["selecciona",'Arquitectura', ' Arquitectura del Paisaje', ' Diseño Industrial', ' Urbanismo', ' Actuaría', ' Biología', ' Ciencias de la Computación', ' Ciencias de la Tierra', ' Física', ' Física Biomédica', ' Matemáticas', ' Matemáticas Aplicadas', ' Antropología', ' Ciencias de la Comunicación', ' Ciencias Políticas y Administración Pública', ' Relaciones Internacionales', ' Sociología', ' Administración', ' Contaduría', ' Informática', ' Derecho', ' Economía', ' Bibliotecología y Estudios de la Información', ' Desarrollo y Gestión Interculturales', ' Estudios Latinoamericanos', ' Filosofía', ' Geografía', ' Historia', ' Lengua y Literaturas Hispánicas', ' Lengua y Literaturas Modernas (Letras Alemanas)', ' Lengua y Literaturas Modernas (Letras Francesas)', ' Lengua y Literaturas Modernas (Letras Inglesas)', ' Lengua y Literaturas Modernas (Letras Italianas)', ' Lengua y Literaturas Modernas (Letras Portuguesas)', ' Letras Clásicas', ' Literatura Dramática y Teatro', ' Pedagogía', ' Ingeniería Civil', ' Ingeniería de Minas y Metalurgia', ' Ingeniería Eléctrica y Electrónica', ' Ingeniería en Computación', ' Ingeniería en Sistemas Biomédicos', ' Ingeniería en Telecomunicaciones', ' Ingeniería Geofísica', ' Ingeniería Geológica', ' Ingeniería Geomática', ' Ingeniería Industrial', ' Ingeniería Mecánica', ' Ingeniería Mecatrónica', ' Ingeniería Petrolera', ' Ciencia Forense', ' Fisioterapia', ' Investigación Biomédica Básica', ' Médico Cirujano', ' Medicina Veterinaria y Zootecnia', ' Cirujano Dentista', ' Psicología', ' Ingeniería Química', ' Ingeniería Química Metalúrgica', ' Química', ' Química de Alimentos', ' Química Farmacéutica Biológica', ' Trabajo Social']
                            option= item

                div(style="display: inline")   Facultad     
                    select(name='fac', id='l')
                        each item in ["selecciona",'Arquitectura', ' Ciencias', ' Ciencias Políticas y Sociales', ' Contaduría y Administración', ' Derecho', ' Economía', ' Filosofía y Letras', ' Ingeniería', ' Medicina', ' Medicina Veterinaria y Zootecnia', ' Odontología', ' Psicología', ' Química', ' Escuela Nacional de Trabajo Social']
                            option= item
                
                //-div(style="display: inline")   Delegación   
                    select(name='del', id='j')
                        each item in ["selecciona", 'Álvaro Obregón', 'Azcapotzalco', 'Benito Juárez', 'Coyoacán', 'Cuajimalpa', 'Cuauhtémoc', 'Gustavo A. Madero', 'Iztacalco', 'Iztapalapa', 'Magdalena Contreras', 'Miguel Hidalgo', 'Milpa Alta', 'Tláhuac', 'Tlalpan', 'Venustiano Carranza', 'Xochimilco']
                            option= item

            div(style="display: inline") L. Residencia        
                    input(type="text", name="lPlace", id="k", placeholder="código postal ej. 01430")
        br
        br
        br
        input.butt2(type="submit")
    br
    br
    
    br
    br
    br
    br
    
    //-div(style="display: block")
        p RESULTADOS
            div(style="display: block")
                    textarea(rows=50, cols=100, disabled=true, id=)="j"
                
    block footer
    footer
        p GIL UNAM IINGEN 2017