extends layout
block content
    h1= title
    br
    br
    a(href="/") Regresar
    br
    br
    div.newemployee
        h5= "Se encontraron " + nums + " resultados de los cuales " + num_m + " son mujeres y " + num_h + " hombres"
    br
    br
    
    div.datamuestra
            h.h8= result1[0].user1.user + ": " + result1[0].user1.age + " , " + result1[0].user1.gender + " , " + result1[0].user1.oSexual + " , " + result1[0].user1.ocup + " , " + result1[0].user1.edu + " , " + result1[0].user1.prof_of + " , " + result1[0].user1.rel
            br
            h.h8= result1[0].user2.user + ": " + result1[0].user2.age + " , " + result1[0].user2.gender + " , " + result1[0].user2.oSexual + " , " + result1[0].user2.ocup + " , " + result1[0].user2.edu + " , " + result1[0].user2.prof_of + " , " + result1[0].user2.rel
        p
    
    div.resultmuestra
            h.butt Muestra de conversación
            br
            br
            each line, i in text
                if text_d[line] == "1"
                    div.whverde
                        h.h8= line
                else
                    if text_d[line] == "2"
                        div.whchamp
                            h.h8= line
                    else
                        div.blanc
                            h.h8= line
            
            br
    br
    div.newemployee Para obtener acceso completo al corpus envía tu solicitud a *********** 
    br
    br
    each emp in result1
        div.result 
            h.butt Conversación 1
        div.data
            h.h8= emp.user1.user + ": " + emp.user1.age + " , " + emp.user1.gender + " , " + emp.user1.oSexual + " , " + emp.user1.ocup + " , " + emp.user1.edu + " , " + emp.user1.prof_of + " , " + emp.user1.rel
            br
            h.h8= emp.user2.user + ": " + emp.user2.age + " , " + emp.user2.gender + " , " + emp.user2.oSexual + " , " + emp.user2.ocup + " , " + emp.user2.edu + " , " + emp.user2.prof_of + " , " + emp.user2.rel
        p
          
    each emp in result2
        div.result
            h.butt Conversación 2
        div.data
            h.h8= emp.user1.user + ": " + emp.user1.age + " , " + emp.user1.gender + " , " + emp.user1.oSexual + " , " + emp.user1.ocup + " , " + emp.user1.edu + " , " + emp.user1.prof_of + " , " + emp.user1.rel
            br
            h.h8= emp.user2.user + ": " + emp.user2.age + " , " + emp.user2.gender + " , " + emp.user2.oSexual + " , " + emp.user2.ocup + " , " + emp.user2.edu + " , " + emp.user2.prof_of + " , " + emp.user2.rel
        p